@font-face {
  font-family: OnePiece;
  src: url("./assets/One Piece Font/one piece font.ttf")
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   background-image: url("./assets/images/sanji_cooking.jpg");
}
.header {
  background-position: 50% 23%;
  text-shadow: 0px 3px 0px #b2a98f,
             0px 14px 10px rgba(0,0,0,0.15),
             0px 24px 2px rgba(0,0,0,0.1),
             0px 24px 30px rgba(0,0,0,0.1);
  letter-spacing: 3px;
}

.meal {
  padding-left: 10px;
}